<%- include('layout/header')%>
<div class="container mt-5">
  <% if(bookingDetail) { %>
  <h1><%= bookingDetail.property_name %></h1>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <% bookingDetail.property_images.forEach(function(image, index) { %>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= index === 0 ? 'active':'' %>" aria-current="true" aria-label="Slide <%= index %>"></button>
      <% }); %>
  
    </div>
    <div class="carousel-inner">
      <% bookingDetail.property_images.forEach(function(image, index) { %>
      <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
        <img src="<%= image %>" class="d-block w-100" alt="...">
      </div>
      <% }); %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
<div class="mt-4">
<h2 class="mb-4">Properties</h2>
  <div class="row" >
    <% bookingDetail.sub_properties.forEach(function(property, property_index) { %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="<%= property.image %>"
          class="card-img-top"
          alt="<%= property.floorplan_name %>"
        />
        <div class="card-body">
         
    <img src="<%= property.propert_varient_img[0] %>" class="card-img-top mb-2" alt="Property Image">

      <h5 class="card-title mb-4"><%= property.property_varient_name %></h5>

      <% property.tenures.forEach(function(tenure, index) { %>

        <button type="button" class="btn btn-secondary mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal<%= property_index+index %>">
          <%= tenure.tenure_period %></button>

          <div class="modal fade" id="exampleModal<%= property_index+index %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"> <%= tenure.tenure_period %></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <% tenure.unit_space_details.forEach(function(unitSpace) { %>
                    <div class="card mb-4">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-4">
                            <h5 class="card-title">Builder Number: <%= unitSpace.builder_number %></h5>
                            <p class="card-text">Building: <%= unitSpace.building %></p>
                            <p class="card-text">Rent: <%= unitSpace.rent %></p>
                            <p class="card-text">Deposit: <%= unitSpace.deposit %></p>
                            <p class="card-text">Amenities: <%= unitSpace.amenities %></p>
                          </div>
                          <div class="col-8">

                        <table class="table">
                          <thead>
                            <tr>
                              <th>Space</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% unitSpace.unit_spaces.forEach(function(space) { %>
                              <tr>
                                <td><%= space.space %></td>
                                <td><%= space.status %></td>
                              </tr>
                            <% }); %>
                          </tbody>
                        </table>

                          </div>
                          
                        </div>
                        
                      </div>
                    </div>
                  <% }); %>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          

      
      <% }); %>




        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>

</div>
<% } else{ %>
<h1>No Data Found</h1>
<% } %> <%- include('layout/footer')%>
  <!-- Modal -->

  