<%- include('layout/header')%>
<div class="container mt-5">
  <% if(bookingDetail) { %>
  <h1><%= bookingDetail.property_name %></h1>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% bookingDetail.property_images.forEach(function(image, index) { %>
        <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" <%= index === 0 ? 'class="active"' : '' %>></li>
      <% }); %>
    </ol>
    <div class="carousel-inner">
      <% bookingDetail.property_images.forEach(function(image, index) { %>
        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
          <img class="d-block w-100" src="<%= image %>" alt="Slide <%= index + 1 %>">
          <div class="carousel-caption d-none d-md-block" style="background-color: antiquewhite;border-radius:25px">
            <!-- Add your header (caption) and description here -->
            <h5 style="color: grey;"><%= bookingDetail.property_room_type %><span>   <%= bookingDetail.property_features %> </span></h5>
            <p style="color: darkslategrey;">Price : <%= bookingDetail.property_price %></p>
          </div>
        </div>
      <% }); %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="row" style="margin: 18px; margin-top: 50px" >
    <% bookingDetail.sub_properties.forEach(function(property) { %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="<%= property.image %>"
          class="card-img-top"
          alt="<%= property.floorplan_name %>"
        />
        <div class="card-body">
          <h5 class="card-title"><%= property.floorplan_name %></h5>
          <p class="card-text"><%= property.bed_bath_info %></p>
          <p class="card-text"><%= property.price %></p>

          <div class="row">
            <div class="col-6">
              <ul class="list-group">
                <% property.amenities.slice(0,
                Math.ceil(property.amenities.length /
                2)).forEach(function(amenity) { %>
                <li class="list-group-item"><%= amenity %></li>
                <% }); %>
              </ul>
            </div>
            <div class="col-6">
              <ul class="list-group">
                <% property.amenities.slice(Math.ceil(property.amenities.length
                / 2)).forEach(function(amenity) { %>
                <li class="list-group-item"><%= amenity %></li>
                <% }); %>
              </ul>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-6">
              <ul class="list-group">
                <% property.lease_terms.slice(0,
                Math.ceil(property.lease_terms.length /
                2)).forEach(function(term) { %>
                <li class="list-group-item"><%= term %></li>
                <% }); %>
              </ul>
            </div>
            <div class="col-6">
              <ul class="list-group">
                <%
                property.lease_terms.slice(Math.ceil(property.lease_terms.length
                / 2)).forEach(function(term) { %>
                <li class="list-group-item"><%= term %></li>
                <% }); %>
              </ul>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-6">
              <ul class="list-group">
                <% property.pricing.slice(0, Math.ceil(property.pricing.length /
                2)).forEach(function(price) { %>
                <li class="list-group-item"><%= price %></li>
                <% }); %>
              </ul>
            </div>
            <div class="col-6">
              <ul class="list-group">
                <% property.pricing.slice(Math.ceil(property.pricing.length /
                2)).forEach(function(price) { %>
                <li class="list-group-item"><%= price %></li>
                <% }); %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
<% } else{ %>
<h1>No Data Found</h1>
<% } %> <%- include('layout/footer')%>
